{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/my_page.css">
{% endblock %}

{% block content %}
<div class="container text-center">

  <div class="row">
    <div class="col">
      <h1 style="font-size: 50px">Orderhistorik</h1>
    </div>
  </div>
  {%if orders%}
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Datum</th>
        <th>Summa kostnad</th>
        <th>Länk till kvitto</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders%}
      <tr>
        <td>{{order.dateHuman()}}</td>
        <td>{{order.billingSum}}</td>
        <td> <a href="{{order.receipt}}" target="_blank">Se kvitto</a></td>
      </tr>
      {% endfor%}
    </tbody>
  </table>
  {%else%}
  <div class="row">
    <div class="col">
      <p>Du har inga tidigare ordrar.</p>

    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col col-md-4">
      <button type="button" class="btn btn-mod btn-default btn-block p-3"
        onclick="orderhistorikApp.handlaButtonClicked()">Börja handla</button>
    </div>
  </div>
  {%endif%}
  <div class="row pt-2 justify-content-center">
    <div class="col col-md-4">
      <button type="button" class="btn btn-mod btn-default btn-block p-3"
        onclick="orderhistorikApp.profilButtonClicked()">Gå tillbaka till din
        profil</button>
    </div>
  </div>


  <div class="row">
    <div class="col-8"></div>
    <div class="col">
      <img src="../static/images/shopping-redigerad.png" alt="" style="max-width: 100%">
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/orderhistorik.js"></script>
{% endblock %}